<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote</title>
</head>
<body>
<form action="{url 'polls.vote' question.id %}"method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{question.question_text}}</h1></legend>
    {% if error_message %} <p><strong>{{error_messege}}</strong></p>{% endif %}
    {% for choise in question.choice_set.all%}
        <input type="radio" name="choice" id="choice{{forloop.count}}" value="{{choice.id}}">
        <label for="choice{{forloop.count}}">{{choice.choice_text}}</label><br>
        {% endfor%}
    </fieldset>
    <input type="submit"value="Vote">
</form>
</body>
</html>